---
# tasks file for update

- name: Import assert.yml
  ansible.builtin.import_tasks:
    file: assert.yml
  run_once: true
  delegate_to: localhost

- name: Configure apk
  when:
    - ansible_pkg_mgr == "apk"
  block:
    - name: Update cache (apk)
      community.general.apk:
        update_cache: true
      changed_when: false

    - name: Update all software (apk)
      community.general.apk:
        upgrade: true
      notify:
        - Reboot

- name: Configure apt
  when:
    - ansible_pkg_mgr == "apt"
  block:
    - name: Prevent upgrade for selected packages
      ansible.builtin.dpkg_selections:
        name: "{{ item }}"
        selection: hold
      loop: "{{ update_excluded_packages }}"

    - name: Update all software (apt)
      ansible.builtin.apt:
        update_cache: true
        upgrade: "{{ update_upgrade_command }}"
        cache_valid_time: "{{ update_cache_valid_time }}"
      notify:
        - Reboot
      environment:
        DEBIAN_FRONTEND: nointeractive

    - name: Apt autoremove (apt)
      ansible.builtin.apt:
        autoremove: "{{ update_autoremove }}"
      when:
        - ansible_pkg_mgr == "apt"
        - update_autoremove
      environment:
        DEBIAN_FRONTEND: nointeractive

- name: Update all software (dnf)
  ansible.builtin.dnf:
    name: "*"
    state: latest  # noqa package-latest This role is to update packages.
    exclude: "{{ update_excluded_packages }}"
  notify:
    - Reboot
  when:
    - ansible_pkg_mgr == "dnf"

- name: Update all software (pacman)
  community.general.pacman:
    update_cache: true
    upgrade: true
  notify:
    - Reboot
  when:
    - ansible_pkg_mgr == "pacman"

- name: Configure yum
  when:
    - ansible_pkg_mgr == "yum"
  block:
    - name: Update all software (yum/6)
      ansible.builtin.yum:
        name: "*"
        state: latest  # noqa package-latest This role is to update packages.
        exclude: "{{ update_excluded_packages }}"
      notify:
        - Reboot
      when:
        - ansible_distribution_major_version == "6"

    - name: Update yum non-6
      when:
        - ansible_distribution_major_version != "6"
      block:
        - name: Update all software (yum)
          ansible.builtin.yum:
            name: "*"
            state: latest  # noqa package-latest This role is to update packages.
            exclude: "{{ update_excluded_packages }}"
          notify:
            - Reboot

        - name: Install yum-utils
          ansible.builtin.package:
            name: yum-utils

- name: Update all software (zypper)
  community.general.zypper:
    name: "*"
    state: latest  # noqa package-latest This role is to update packages.
  notify:
    - Reboot
  when:
    - ansible_pkg_mgr == "zypper"
